USE [master]
GO
/****** Object:  Database [LBlancasUsersPruebaTecnica]    Script Date: 8/10/2025 1:20:47 PM ******/
CREATE DATABASE [LBlancasUsersPruebaTecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBlancasUsersPruebaTecnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LBlancasUsersPruebaTecnica.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBlancasUsersPruebaTecnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LBlancasUsersPruebaTecnica_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBlancasUsersPruebaTecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBlancasUsersPruebaTecnica]
GO
/****** Object:  StoredProcedure [dbo].[EmailAndPasswordGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmailAndPasswordGetById]
(
@Email VARCHAR(250)
)
AS
SELECT IdUser, Email, Password FROM Users
WHERE IdUser = @Email

GO
/****** Object:  StoredProcedure [dbo].[EmailGetUnique]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para obtener Email Unico
CREATE PROCEDURE [dbo].[EmailGetUnique]
(@Email VARCHAR(250))
AS
SELECT Users.IdUser, Users.Email
FROM Users
WHERE Users.Email LIKE @Email
GO
/****** Object:  StoredProcedure [dbo].[GetImagenById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetImagenById] 
(@IdUser INT)
AS
SELECT Users.IdUser,
Users.Imagen
FROM Users
WHERE Users.IdUser = @IdUser
GO
/****** Object:  StoredProcedure [dbo].[LocationAdd]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LocationAdd]
(
@address VARCHAR(100),
@place_id VARCHAR(100),
@latitude INT,
@longitude INT
)
AS
INSERT INTO Location (address, place_id, latitude, longitude)
VALUES (@address, @place_id, @latitude, @longitude)

GO
/****** Object:  StoredProcedure [dbo].[LocationDelete]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para eliminar una Location
CREATE PROCEDURE [dbo].[LocationDelete]
(
@IdLocation INT
)
AS
DELETE FROM Location
WHERE IdLocation = @IdLocation

GO
/****** Object:  StoredProcedure [dbo].[LocationGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LocationGetAll]
AS
SELECT IdLocation, address, place_id, latitude, longitude 
FROM Location

GO
/****** Object:  StoredProcedure [dbo].[LocationGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LocationGetById]
(
@IdLocation INT
)
AS
SELECT IdLocation, address, place_id, latitude, longitude 
FROM Location
WHERE IdLocation = @IdLocation

GO
/****** Object:  StoredProcedure [dbo].[LocationUpdate]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LocationUpdate]
(
@IdLocation INT,
@address VARCHAR(100),
@place_id VARCHAR(100),
@latitude INT,
@longitude INT
)
AS
UPDATE Location 
SET address=@address, place_id =@place_id, latitude =@latitude, longitude = @longitude
WHERE IdLocation = @IdLocation

GO
/****** Object:  StoredProcedure [dbo].[LoginEmailAndPassword]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginEmailAndPassword]
(
@Email VARCHAR(250)
)
AS
SELECT IdUser, Email, Password FROM Users
WHERE Email LIKE @Email

GO
/****** Object:  StoredProcedure [dbo].[OrdersAdd]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para Agregar una nueva order.
CREATE PROCEDURE [dbo].[OrdersAdd]
(
@IdUser INT,
@IdTruck INT,
@IdStatus TINYINT,
@IdPickUp INT,
@IdDropOff INT
)
AS
INSERT INTO Orders (IdUser, IdTruck, IdStatus, IdPickUp, IdDropOff)
VALUES (@IdUser, @IdTruck, @IdStatus, @IdPickUp, @IdDropOff);
GO
/****** Object:  StoredProcedure [dbo].[OrdersDelete]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para eliminar una Orden
CREATE PROCEDURE [dbo].[OrdersDelete]
(
@IdOrder INT
)
AS
DELETE FROM Orders
WHERE IdOrder = @IdOrder
GO
/****** Object:  StoredProcedure [dbo].[OrdersGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrdersGetAll]
AS
SELECT Orders.IdOrder, Users.Nombre, Users.ApellidoPaterno, Users.ApellidoMaterno,
Trucks.Year, Trucks.Color, Trucks.Plates, Status.IdStatus, Status.Nombre AS NombreStatus,
LocationPick.address AS AddressPick, LocationPick.place_id AS PlaceIdPick, LocationPick.latitude AS LatitudePick,
LocationPick.longitude AS LongitudePick, LocationDrop.address AS AddressDrop, LocationDrop.place_id AS PlaceIdDrop,
LocationDrop.latitude AS LatitudeDrop, LocationDrop.longitude AS LongitudeDrop
FROM Orders
INNER JOIN Users ON Orders.IdUser = Users.IdUser
INNER JOIN Trucks ON Orders.IdTruck = Trucks.IdTruck
INNER JOIN Status ON Orders.IdStatus = Status.IdStatus
INNER JOIN Location AS LocationPick ON Orders.IdPickUp = LocationPick.IdLocation
INNER JOIN Location AS LocationDrop ON Orders.IdDropOff = LocationDrop.IdLocation
GO
/****** Object:  StoredProcedure [dbo].[OrdersGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para Mostrar una Orden por Id
CREATE PROCEDURE [dbo].[OrdersGetById]
(
@IdOrder INT
)
AS
SELECT IdOrder, IdUser, IdTruck, IdStatus, IdPickUp, IdDropOff
FROM Orders
WHERE IdOrder = @IdOrder

GO
/****** Object:  StoredProcedure [dbo].[OrdersUpdate]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrdersUpdate]
(
@IdOrder INT,
@IdUser INT,
@IdTruck INT,
@IdStatus TINYINT,
@IdPickUp INT,
@IdDropOff INT
)
AS
UPDATE Orders
SET IdUser = @IdUser, IdTruck = @IdTruck, IdStatus = @IdStatus, IdPickUp = @IdPickUp, IdDropOff = @IdDropOff
WHERE IdOrder = @IdOrder
GO
/****** Object:  StoredProcedure [dbo].[OrderUpdateStatus]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderUpdateStatus]
(
@IdOrder INT,
@IdStatus INT
)
AS
UPDATE Orders
SET IdStatus = @IdStatus
WHERE IdOrder = @IdOrder
GO
/****** Object:  StoredProcedure [dbo].[RolGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RolGetAll]
AS
SELECT IdRol, Nombre
FROM Rol

GO
/****** Object:  StoredProcedure [dbo].[StatusGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para Mostrar todos los Status
CREATE PROCEDURE [dbo].[StatusGetAll]
AS
SELECT IdStatus, Nombre
FROM Status

GO
/****** Object:  StoredProcedure [dbo].[StatusGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Stored para Mostrar Status a traves del Id
CREATE PROCEDURE [dbo].[StatusGetById]
(
@IdStatus TINYINT
)
AS
SELECT IdStatus, Nombre
FROM Status
WHERE IdStatus = @IdStatus

GO
/****** Object:  StoredProcedure [dbo].[TruckAdd]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TruckAdd]
(
@Year VARCHAR(4),
@Color VARCHAR(20),
@Plates VARCHAR(20)
)
AS
INSERT INTO Trucks (Year, Color, Plates)
VALUES (@Year, @Color, @Plates);
GO
/****** Object:  StoredProcedure [dbo].[TruckDelete]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored para Eliminar una Truck
CREATE PROCEDURE [dbo].[TruckDelete]
(
@IdTruck INT
)
AS
DELETE FROM Trucks 
WHERE IdTruck = @IdTruck
GO
/****** Object:  StoredProcedure [dbo].[TruckGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TruckGetAll]
AS
SELECT Trucks.IdTruck, Trucks.Year, Trucks.Color ,Trucks.Plates 
FROM Trucks
GO
/****** Object:  StoredProcedure [dbo].[TruckGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TruckGetById]
(
@IdTruck INT
)
AS
SELECT Trucks.IdTruck, Trucks.Year, Trucks.Color, Trucks.Plates
FROM Trucks
WHERE Trucks.IdTruck = @IdTruck;

GO
/****** Object:  StoredProcedure [dbo].[TruckUpdate]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TruckUpdate]
(
@IdTruck INT,
@Year VARCHAR(4),
@Color VARCHAR(20),
@Plates VARCHAR(20)
)
AS
UPDATE Trucks
SET Year = @Year, Color = @Color, Plates = @Plates
WHERE IdTruck = @IdTruck;
GO
/****** Object:  StoredProcedure [dbo].[UsersAdd]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsersAdd]
(
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaNacimiento VARCHAR(10),
@Email VARCHAR(250),
@Password VARCHAR(25),
@Imagen VARBINARY(MAX),
@IdRol TINYINT
)
AS
INSERT INTO Users (Nombre, ApellidoPaterno, 
ApellidoMaterno, FechaNacimiento, Email, Password, Imagen, IdRol)
VALUES (@Nombre, @ApellidoPaterno, @ApellidoMaterno, CONVERT(DATE, @FechaNacimiento, 105), @Email, @Password, @Imagen, @IdRol)

GO
/****** Object:  StoredProcedure [dbo].[UsersDelete]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsersDelete]
(
@IdUser INT
)
AS
DELETE FROM Users
WHERE IdUser = @IdUser
GO
/****** Object:  StoredProcedure [dbo].[UsersGetAll]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsersGetAll]
AS
SELECT
Users.IdUser, Users.Nombre, Users.ApellidoPaterno, Users.ApellidoMaterno, CONVERT(DATE, Users.FechaNacimiento, 105) AS FechaNacimiento,
Users.Imagen, Users.IdRol, Rol.Nombre AS NombreRol
FROM Users
INNER JOIN Rol ON Rol.IdRol = Users.IdRol
GO
/****** Object:  StoredProcedure [dbo].[UsersGetById]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsersGetById]
(
@IdUser INT
)
AS
SELECT Users.IdUser, Users.Nombre, Users.ApellidoPaterno, Users.ApellidoMaterno, 
CONVERT(VARCHAR, Users.FechaNacimiento, 105) AS FechaNacimiento, Users.Email, Users.Password,
Users.Imagen, Users.IdRol, Rol.Nombre AS NombreRol
FROM Users
INNER JOIN Rol ON Rol.IdRol = Users.IdRol
WHERE IdUser = @IdUser
GO
/****** Object:  StoredProcedure [dbo].[UsersUpdate]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsersUpdate]
(
@IdUser INT,
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaNacimiento VARCHAR(10),
@Email VARCHAR(250),
@Password VARCHAR(25),
@Imagen VARBINARY(MAX),
@IdRol TINYINT
)
AS
UPDATE Users
SET Nombre = @Nombre, ApellidoPaterno = @ApellidoPaterno, ApellidoMaterno = @ApellidoMaterno, 
FechaNacimiento = CONVERT(Date, @FechaNacimiento, 105), Email = @Email, Password = @Password, 
Imagen = @Imagen, IdRol = @IdRol
WHERE IdUser = @IdUser

GO
/****** Object:  Table [dbo].[Location]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[IdLocation] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](100) NULL,
	[place_id] [varchar](100) NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
 CONSTRAINT [PK__Location__FB5FABA93910321A] PRIMARY KEY CLUSTERED 
(
	[IdLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdTruck] [int] NOT NULL,
	[IdStatus] [tinyint] NOT NULL,
	[IdPickUP] [int] NOT NULL,
	[IdDropOff] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatus] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trucks]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trucks](
	[IdTruck] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](4) NOT NULL,
	[Color] [varchar](20) NOT NULL,
	[Plates] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTruck] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/10/2025 1:20:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Imagen] [varbinary](max) NULL,
	[IdRol] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([IdLocation], [address], [place_id], [latitude], [longitude]) VALUES (1, N'1', N'1', 19, -99)
INSERT [dbo].[Location] ([IdLocation], [address], [place_id], [latitude], [longitude]) VALUES (2, N'Roma', N'3', 19, -99)
INSERT [dbo].[Location] ([IdLocation], [address], [place_id], [latitude], [longitude]) VALUES (5, N'tulti', N'123', 19, -99)
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IdOrder], [IdUser], [IdTruck], [IdStatus], [IdPickUP], [IdDropOff]) VALUES (1, 1, 1, 1, 2, 1)
INSERT [dbo].[Orders] ([IdOrder], [IdUser], [IdTruck], [IdStatus], [IdPickUP], [IdDropOff]) VALUES (3, 3, 1, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([IdStatus], [Nombre]) VALUES (1, N'Created')
INSERT [dbo].[Status] ([IdStatus], [Nombre]) VALUES (2, N'Transit')
INSERT [dbo].[Status] ([IdStatus], [Nombre]) VALUES (3, N'Completed')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Trucks] ON 

INSERT [dbo].[Trucks] ([IdTruck], [Year], [Color], [Plates]) VALUES (1, N'2002', N'Rojo', N'XN283YBD')
SET IDENTITY_INSERT [dbo].[Trucks] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUser], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaNacimiento], [Email], [Password], [Imagen], [IdRol]) VALUES (1, N'Leonardo', N'Blancas', N'Uribe', CAST(0x71250B00 AS Date), N'correo@dom.com', N'Contra1@', NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D105340012EF7A]    Script Date: 8/10/2025 1:20:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__IdDropOf__36B12243] FOREIGN KEY([IdDropOff])
REFERENCES [dbo].[Location] ([IdLocation])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__IdDropOf__36B12243]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__IdPickUP__35BCFE0A] FOREIGN KEY([IdPickUP])
REFERENCES [dbo].[Location] ([IdLocation])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__IdPickUP__35BCFE0A]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([IdStatus])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([IdTruck])
REFERENCES [dbo].[Trucks] ([IdTruck])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
USE [master]
GO
